{% extends 'mariage/base.html' %}
{% load static %}

{% block title %}Attestation de divorce n° {{ divorce.numero_divorce }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'mariage/css/acte_officiel.css' %}?v=8">
{% endblock %}

{% block content %}
<div class="d-print-none mb-4 d-flex justify-content-between">
    <a href="{% url 'divorce_list' %}" class="btn btn-light border"><i class="bi bi-arrow-left"></i> Retour</a>
    <button type="button" onclick="window.print()" class="btn btn-dark shadow">
        <i class="bi bi-printer me-2"></i> Imprimer l'attestation de divorce
    </button>
</div>

<div class="acte-officiel-wrapper">
{% include 'mariage/partials/acte_divorce_officiel.html' with divorce=divorce user=user %}
</div>
{% endblock %}
